.app {
  background-color: #fafafa;
  /* height: 100vh; */
}

.app__header {
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  padding: 1.2rem;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  object-fit: contain;
}

.app__loginContainer {
  display: flex;
}

.app__post {
  padding: 1rem;
}
